[submodule "modules/mysql"]
	path = modules/mysql
	url = git://github.com/nanliu/puppetlabs-mysql.git
[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/nanliu/puppetlabs-firewall.git
